.new {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.new h2 {
    text-align: center;
}

.new input[type="text"] {
    display: inline-block;
    background-color: rgb(55, 55, 80);
    margin: 0;
    padding: 0 20px;
    width: 305px;
}

.new::-webkit-scrollbar {
    display: none;
}

.newText {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.newButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newButton > input:nth-child(even) {
    margin-left: 15%;
}

.newSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 400px;
}

.selectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(55, 55, 80);
    min-width: 40px;
    min-height: 40px;
    border-radius: 5px;
    margin-left: 20px;
}

span.check {
    user-select: none;
    font-size: 30px;
}

.disabeled {
    cursor: default;
    color: rgb(100, 100, 100);
}

.container {
    width: 400px;
    padding: 0 50px;
}