abbr {
  text-decoration: none;
}

.inctanceContainer {
  display: flex;
  flex-direction: column;
}

.maxResultContainer {
  width: 85vw;
}

.resultContent {
  position: absolute;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 75vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.5s;
}

.resultContent::-webkit-scrollbar {
  display: none;
}

.minResults {
  height: 60vh;
}

.instance {
  display: flex;
  flex-direction: row;
  min-height: 5vh;
}

.header {
  z-index: 10;
}

.header>.checkboxContainer,
.header>.buttonContainer,
.header>.valueContainer,
.header>.headerTextContainer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(55, 55, 80);
  border-bottom: 5px solid rgb(44, 44, 64);
}

.checkboxContainer,
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 5vh;
}

.checkboxContainer {
  border-right: 5px solid rgb(44, 44, 64);
  height: 5vh;
  min-width: 5vh;
}

.checkbox,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(44, 44, 64);
  width: 2.5vh;
  height: 2.5vh;
  min-width: 25px;
  min-height: 25px;
  border-radius: 5px;
}

.valueContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  min-width: 10vw;
  font-size: 18px;
  flex-shrink: -5;
}

.noWrap {
  white-space: nowrap;
}

.valueContainer p {
  text-align: center;
  margin: 0;
  line-height: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  min-height: 5vh;
  min-width: 20vw;
}

.text {
  display: flex;
  flex-direction: row;
  height: 4vh;
}

.text>p {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: inline-block;
  white-space: pre-line;
  overflow-wrap: break-all;
  width: 100%;
  line-height: 15px;
  margin: 0;
}

.text>p::-webkit-scrollbar {
  display: none;
}

.buttonContainer {
  min-width: 8vw;
}

.button {
  width: 3vh;
  height: 3vh;
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  min-height: 5vh;
  min-width: 20vw;
  padding: 0 10px;
}

.headerTextContainer>p {
  display: inline;
  margin: 0;
}

.idContainer {
  min-width: 5vw;
}

.textContainer:nth-child(even) {
  border-left: 5px solid rgb(44, 44, 64);
}